<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yuanheng.spring.mybatis.mapper.UserMapper">

    <insert id="insert">

        # keyProperty是传入的参数的属性值，keyColumn是数据库列的名字
        # 逻辑：查询到刚才插入的数据，将keyColumn的数据放入到keyProperty中
        <selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>

        insert into db2 values(null, #{username}, #{password}, #{gender},#{hobby}, #{address}, now(), #{pic})
    </insert>
</mapper>