<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanheng.wwssm.mapper.LocationMapper">

    <select id="Page" resultType="Location">
        SELECT LOCATION_ID as locationId, STREET_ADDRESS as streetAddress, POSTAL_CODE as postalCode, CITY as city, STATE_PROVINCE as stateProvince, c.COUNTRY_NAME as countryName

        FROM t_locations l

        LEFT JOIN t_countries c

        ON l.COUNTRY_ID = c.COUNTRY_ID

               /*刚开始用的是${countryName}，怎么都打不开网页，因为使用了$符号，拿到的参数(countryName)在sql语句中默认不会加上一对单引号*/
               /*后来改成了#{countryName}，拿到前端传过来的countryName之后，sql语句在执行的时候，会将#占位符弄掉，变成一对单引号*/
        <where>
            <if test="countryName != null and countryName != ''">
                and COUNTRY_NAME = #{countryName}
            </if>
        </where>
    </select>

</mapper>