<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuanheng.layUIdb.mapper.EmployeeMapper">

    <resultMap id="myEmployee" type="Employee">
        <id property="employeeId" column="employee_id"/>
        <result property="firstName" column="FIRST_NAME"/>
        <result property="lastName" column="LAST_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="phoneNumber" column="PHONE_NUMBER"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="jobId" column="JOB_ID"/>
        <result property="salary" column="SALARY"/>
        <result property="comm" column="COMM"/>
        <result property="managerId" column="MANAGER_ID"/>
        <result property="departmentId" column="DEPARTMENT_ID"/>
        <result property="pic" column="PIC"/>
    </resultMap>


    <select id="list" resultMap="myEmployee">
        select * from t_employees
    </select>
    
</mapper>