<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuanheng.ssm.mapper.JobMapper">

    <resultMap id="myJob" type="Job">
        <id property="jobId" column="JOB_ID"/>
        <result property="jobTitle" column="JOB_TITLE"/>
        <result property="minSalary" column="MIN_SALARY"/>
        <result property="maxSalary" column="MAX_SALARY"/>
    </resultMap>

    <select id="list" resultMap="myJob">
        select * from t_jobs
    </select>



</mapper>