<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="student" class="com.yuanheng.aop.Student"/>

    <bean id="advice" class="com.yuanheng.aop.advice.MyAdvice"/>

    <aop:config>
        <!--配置切入点，切入点的名字方便引用，要进行切入的方法-->
        <aop:pointcut id="myPointcut" expression="execution(public void enjoy())"/>

        <!--指明织入的方法，指明切入的位置（切入点）-->
        <aop:advisor advice-ref="advice" pointcut-ref="myPointcut"/>
    </aop:config>


</beans>