<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.yuanheng.spring.Student">
        <property name="age" value="18"/>
        <property name="name" value="zs"/>
    </bean>

    <bean id="toolsman" class="com.yuanheng.spring.Toolsman">
        <constructor-arg name="age" value="23"/>
        <constructor-arg name="name" value="ls"/>
    </bean>


    <bean id="forInsert" class="com.yuanheng.spring.ForInsert">
        <property name="property" value="123"/>
    </bean>

    <bean id="sber" class="com.yuanheng.spring.Sber" autowire="byName">
        <property name="name" value="ww"/>
        <property name="age" value="21"/>
    </bean>

    <bean id="studentComplex" class="com.yuanheng.spring.StudentComplex">
        <property name="name" value="ww"/>
        <property name="age" value="21"/>
        <property name="list">
            <list>
                <value>tom</value>
                <value>jerry</value>
            </list>
        </property>
    </bean>

    <bean id="address" class="com.yuanheng.spring.Address">
        <property name="position" value="北京"/>
        <property name="zipCode" value="010"/>
    </bean>

    <bean id="studentAddress" class="com.yuanheng.spring.StudentAddress">
        <property name="address" ref="address"/>
    </bean>

</beans>